@model IEnumerable<CRUD.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["InsertMessage"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["InsertMessage"]
    </div>
}

@if (TempData["UpdateMessage"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["UpdateMessage"]
    </div>
}
@if (TempData["DeleteMessage"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> @TempData["DeleteMessage"]
    </div>
}

@*@if (TempData["Insert Message"] != null)
    {
        <div class="alert alert-success">
            <strong>Sucess</strong> @TempData["Insert Message"]
        </div>
    }*@

@*@if (TempData["Insert Message"] != null)
    {
        <div class="alert alert-success">
            <strong>Sucess</strong> @TempData["Update Message"]
        </div>
    }*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        
        <th>
            Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Age
        </th>
        
        <th>
            City
        </th>
        <th> Operations</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @item.name
            </td>
            <td>
                @item.gender
            </td>
            <td>
                @item.age
            </td>
            
            <td>
                @item.city
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
